numpy
open-clip-torch==3.1.0
opencv-python==4.13.0.92
packaging
pandas==2.3.1
pillow
pi-heif
pystray>=0.19
piexif==1.1.3
pybioclip==2.1.3
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.3
regex==2025.9.1
torch
torchvision
tqdm==4.67.1
timm
typing-extensions
tzdata==2025.2
ultralytics==8.4.81
ultralytics-thop==2.0.20
onnxruntime
onnx
polars==1.42.0
rembg[cpu]>=2.0.57
gradio==5.42.0
gradio-client==1.11.1
babel==2.17.0
hdbscan==0.8.40
